<!-- <section class="grid gap-12 w-3/4 md:grid-cols-3 m-auto md:gap-16 px-12">
    <article #counter1 class="">
      <div class="w-40 h-40 min-h-20 min-w-20 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6">
        <i class="text-4xl text-base fa-solid fa-users"></i>
      </div>
      <h2>
        <span class="flex tabular-nums text-white text-6xl font-extrabold mb-2">
          {{ count1 }}
        </span>K+
        <span class="inlin  e-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Institutions</span>
      </h2>
      <p class="text-sm text-white">Many desktop publishing packages and web page editors now use Pinky as their default model text.</p>
    </article>
  
    <article #counter2 class="">
      <div class="w-40 h-40 min-h-20 min-w-20 rounded shadow-md bg-white flex justify-center items-center -rotate-3 mb-6">
        <i class="text-4xl text-base fa-solid fa-building-shield"></i>
      </div>
      <h2>
        <span class="flex tabular-nums text-white text-6xl font-extrabold mb-2">
          {{ count2 }}
        </span>K+
        <span class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Individuals</span>
      </h2>
      <p class="text-sm text-white">Many desktop publishing packages and web page editors now use Pinky as their default model text.</p>
    </article>
  
    <article #counter3 class="">
      <div class="w-40 h-40 min-h-20 min-w-20 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6">
        <i class="text-4xl text-base fa-solid fa-stamp"></i>
      </div>
      <h2>
        <span class="flex tabular-nums text-white text-6xl font-extrabold mb-2">
          {{ count3 }}
        </span>+
        <span class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Certificates</span>
      </h2>
      <p class="text-sm text-white">Many desktop publishing packages and web page editors now use Pinky as their default model text.</p>
    </article>
  </section> -->

  



<div class="grid gap-12 w-3/4 md:grid-cols-3 m-auto md:gap-16 px-12">
       <!-- card -->
       <div class="card"  #counter1>
          
             <div class="icon"><i class="text-4xl text-white fa-solid fa-building-shield"></i></div>
             <p class=" text-white text-4xl text-center font-extrabold mt-1">
                {{ count1 }}
                </p>
             <p class="title">Institutions</p>
             <p class="text">Issuing Certifications across the platform</p>
          
       </div>
       <!-- end card -->
       <!-- card -->
       <div class="card"  #counter2>
          
             <div class="icon"><i class="text-4xl text-white fa-solid fa-users"></i></div>
             <p class=" text-white text-4xl text-center font-extrabold mt-1">
                {{ count2 }}
             </p>
             <p class="title">Individuals</p>
             <p class="text">Registered & Verified under Us.</p>
          
       </div>
       <!-- end card -->
       <!-- card -->
       <div class="card"  #counter3>
          
             <div class="icon"><i class="text-4xl text-white fa-solid fa-stamp"></i></div>
             <span class=" text-white text-4xl text-center font-extrabold mt-1"> {{ count3 }}</span>
             <p class="title">Certificates</p>
             <p class="text">Awarded by registered Institutions.</p>
       </div>
       <!-- end card -->
    
 
    
 </div>
 
  