<div class="flex flex-wrap h-[100vh] bg-white text-xs">
  <div class="w-full lg:w-1/2 xl:w-1/2 mb-4" >

    <section class="py-1 ">
      <div class="w-full xl:w-11/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
          <label for="" class="ml-8 font-bold">Individuals</label>

          <div class="flex justify-center">
            <div class="overflow-x-auto max-h-[6in] w-full">
              <table class="w-full bg-white shadow-md rounded-xl" *ngIf="individuals">
                <thead>
                  <tr class="bg-blue-gray-100  bg-base text-white font-light text-xs">
                    <th class="py-3 px-4 text-left">Gh Card</th>
                    <th class="py-3 px-4 text-left">Occupation</th>
                  </tr>
                </thead>
                <tbody class="text-blue-gray-900" >
                  <ng-container *ngFor="let individual of individuals; let i = index">
                    <tr class="border-b border-blue-gray-100 text-xs hover:bg-blue-200 cursor-pointer"
                      (click)="toggleSubTable(i)">
                      <td class="py-3 align-baseline px-4">
                        {{ individual.ghana_card}}
                      </td>
                      <td class="py-3 align-baseline px-4">
                        {{ individual.organization}}
                      </td>
                    </tr>
                    <tr [hidden]="!showSubTable[i]">
                      <td colspan="6" class="px-5 py-2">
                        <!-- Sub table -->
                        <table *ngIf="individual.Certificates && individual.Certificates.length > 0"
                          class="min-w-full bg-white shadow-md ">
                          <thead>
                            <tr class="bg-blue-gray-100 bg-blue-900 text-white font-light text-xs">
                              <th class="py-3 px-4 text-left">Certificate</th>
                              <th class="py-3 px-4 text-left">Institution</th>
                              <th class="py-3 px-4 text-left">Issued</th>
                            </tr>
                          </thead>
                          <tbody class="text-blue-gray-900 text-xs font-light">
                            <tr class="hover:bg-gray-200" *ngFor="let certificate of individual.Certificates">
                              <td class="py-3 align-baseline px-4">
                                {{ certificate.certificate }}
                              </td>
                              <td class="py-3 align-baseline px-4">
                                {{ certificate.Institution.name}}
                              </td>
                              <td class="py-3 align-baseline px-4">
                                {{ certificate.Certification_Pivot.issueDate }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p *ngIf="individual.Certificates && individual.Certificates.length == 0"
                          class="text-xs text-center text-red-500">(0) Certificates Found</p>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <div class="barLoader mx-auto" *ngIf="!individuals || individuals.length == 0"></div> 
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="w-full lg:w-1/2 xl:w-1/2 mb-4">
    <div class="mt-24">
      <div class="max-w-md mx-2 md:mx-auto my-5">
        <div class="mb-4 flex space-x-4 p-1 rounded bg-white shadow-lg">
          <button (click)="openTab = 1" [class.bg-base]="openTab === 1" [class.text-white]="openTab === 1"
            class="flex-1 py-2 px-4 md:text-xs text-[11px]  rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300">
            <i class="fa-solid fa-plus"></i> Individual
          </button>
          <button (click)="openTab = 2" [class.bg-base]="openTab === 2" [class.text-white]="openTab === 2"
            class="flex-1 py-2 px-4 md:text-xs text-[11px] rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300">
            <i class="fa-solid fa-plus"></i> Certification
          </button>
        </div>
        <div *ngIf="openTab === 1"
          class="transition-all duration-300 bg-white p-4 border-l-4 shadow-2xl border-primary-50">
          <h2 class="text-md font-semibold mb-2 inline text-primary-50">New Individual</h2>
          <p class="text-xs text-end"></p>
          <form (submit)="createIndividual()" class="w-full max-w-lg xl:mb-0 px-4 mx-auto py-8 rounded-md">

            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2"
                  for="ghana-card">Ghana Card / TIN - <span class="text-red-500">{{noRes}} id(s) Found</span> </label>
                <input [(ngModel)]="individual.ghana_card"
                  (keyup)="collisionRate()"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white"
                  id="ghana-card" type="text" name="ghanaCard" placeholder="Enter Ghana Card" required>
              </div>
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2"
                  for="ghana-card">Organization(Optional)</label>
                <input [(ngModel)]="individual.organization"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white"
                  id="ghana-card" type="text" name="organization" placeholder="organization" required>
              </div>
            </div>

            <div class="flex justify-end" *ngIf="noRes < 1">
              <button *ngIf="!isLoader"  type="submit"
                class="px-7 py-1 border  text-black border-blue-900 hover:bg-base hover:text-white rounded-lg shadow-2xl">Add
              </button>
              <div class="container">
                <div class="barLoader" *ngIf="isLoader"></div>
                <p class="text-pink-600 text-center mt-5" *ngIf="isMsg">{{msg}}</p>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="openTab === 2"
          class="transition-all shadow-2xl duration-300 bg-white p-4 border-l-4 border-primary-50">
          <h2 class="text-md font-semibold mb-2 inline text-primary-50">
            Issue Certificate
          </h2>
          <form class="w-full max-w-lg xl:mb-0 px-4 mx-auto py-8 rounded-md" (submit)="createCertification()">
            <div class="flex flex-wrap -mx-3 mb-6">
              
              
              
              <div class="relative inline-block text-left w-full pb-3 md:w-full px-3 mb-6 md:mb-0" #myElement>
                <div>
                  <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2" for="gender">Individual(s) {{selectedOptionsCount()}} Selected </label>
                  <span class="rounded-md shadow-sm">
                    <input
                      [(ngModel)]="searchVal"
                      (keyup)="searchIndividuals()"
                      (focus)="isOpen = true"
                      
                      type="text"
                      name="searchVal"
                      class="inline-flex justify-between w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-xs leading-5 font-medium text-gray-700 shadow-sm focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150"
                      placeholder="Search for an individual"
                    />
                  </span>
                </div>
                <span>
                  <div #myElement *ngIf="isOpen" class="absolute z-10 mt-2 w-5/6 px-3 py-3 h-96 overflow-auto rounded-md bg-white border shadow-2xl">
                    <div class="rounded-md bg-white shadow-xs">
                      <div class="relative grid gap-1">
                        <label *ngFor="let individual of individualsList; let i = index" class="inline-flex items-center">
                          <input
                            [(ngModel)]="selectedOptions[i].checked"
                            type="checkbox"
                            [checked]="selectedOptions[i].checked"
                            [name]="'option'+i"
                            class="form-checkbox h-4 w-4 text-indigo-600">
                          <span class="ml-2 text-xs">{{ individual.ghana_card }}</span>
                        </label>
                      </div>
                    </div>
                    <div class="mt-2">
                      <button (click)="initializeSelectedOptions()" type="button" class="bg-red-500 hover:bg-red-600 w-full text-white px-4 py-1 rounded-md">
                        Clear Selection
                      </button>
                    </div>
                  </div>
                </span>
              </div>
              
              <!-- <div class="relative inline-block text-left w-full pb-3 md:w-full px-3 mb-6 md:mb-0" #myElement>
                <div>
                  <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2" for="gender">Individual</label>
                  <span class="rounded-md shadow-sm">
                    <button (click)="toggleDropdown()" type="button" class="dropdown-toggle inline-flex justify-between w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-xs leading-5 font-medium text-gray-700 shadow-sm focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150">
                      <span class="overflow-scroll text-nowrap">{{ getSelectedIndividuals() }}</span>
                      <svg *ngIf="isOpen" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 12a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-.707.293z" />
                      </svg>
                    </button>
                  </span>
                </div>
                <span >
                  <div #myElement *ngIf="isOpen" class="absolute z-10 mt-2 w-5/6 px-3 py-3 rounded-md bg-white border shadow-2xl">
                    <div class="rounded-md bg-white shadow-xs">
                      <div class="relative grid gap-1">
                        <label *ngFor="let individual of individualsList; let i = index" class="inline-flex items-center">
                          <input
                          [(ngModel)]="selectedOptions[i].checked"
                          type="checkbox"
                          [checked]="selectedOptions[i].checked"
                          [name]="'option'+i"
                          class="form-checkbox h-4 w-4 text-indigo-600">
                          <span class="ml-2">{{ individual.ghana_card }}</span>
                        </label>
                      </div>
                    </div>
                    <div class="mt-2">
                      <button (click)="initializeSelectedOptions()" type="button" class="bg-red-500 hover:bg-red-600 w-full text-white px-4 py-1 rounded-md">
                        Clear Selection
                      </button>
                    </div>
                  </div>
                </span>
              </div> -->
              
              



              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2"
                  for="gender">Institution</label>
                <select [(ngModel)]="selectedInstitution" (change)="getCertificates()" [disabled]="!isAdmin"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white"
                  id="gender" name="institution" required>
                  <option [value]="0" disabled>Select Institution</option>
                  <option *ngFor="let institution of institutions" [value]="institution.id">{{institution.name}}
                  </option>
                </select>
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2"
                  for="gender">Certification</label>
                <select [(ngModel)]="selectedCertificate"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white"
                  id="gender" name="certificate" required>
                  <option [value]="0" disabled selected>Select Certification</option>
                  <option *ngFor="let certificate of certificates" [value]="certificate.id">{{certificate.certificate}}
                  </option>
                </select>
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2"
                  for="grid-last-name">Date of Issue</label>
                <input [(ngModel)]="certification.issueDate"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white"
                  id="grid-last-name" type="date" name="dateOfIssue" >
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block capitalize tracking-wide text-gray-700 text-xs font-base mb-2"
                  for="ghana-card">Expiry</label>
                <input [(ngModel)]="certification.expiryDate"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white"
                  id="ghana-card" type="date" name="expiry" placeholder="">
              </div>

            </div>

            <div class="flex justify-end">
              <button  *ngIf="!isLoader" type="submit"
                class="px-7 py-1 border  text-black border-blue-900 hover:bg-base hover:text-white rounded-lg shadow-2xl">Add
              </button>
              <div class="container">
                <div class="barLoader" *ngIf="isLoader"></div>
                <p class="text-pink-600 text-center mt-5" *ngIf="isMsg">{{msg}}</p>
              </div>

            </div>
          </form>
        </div>
        <div *ngIf="openTab === 1" class="transition-all duration-300 mt-4 bg-white p-4 border-l-4 shadow-2xl border-primary-50">
          <h2 class="text-md font-semibold mb-2 inline text-primary-50">Import Individuals</h2>
          <p class="text-xs text-end"> 
            <button class="bg-pink-700 hover:bg-pink-600 text-white p-1 rounded-md" (click)="downloadIndividualFile()">Download</button> Excel Template 
          </p>
          <form [formGroup]="uploadForm" (ngSubmit)="importIndividual()" class="w-full max-w-lg xl:mb-0 px-4 mx-auto py-2 rounded-md">
            <div class="flex flex-wrap -mx-3 mb-1">
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label for="file">Choose file</label>
                <input type="file" id="file" (change)="onFileChange($event)" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white text-xs" formControlName="file">
              </div>
            </div>
            <div class="flex justify-end">
              <div class="container">
                <div class="barLoader" *ngIf="isUploadLoader"></div>
                <p class="text-pink-600 text-center mt-5" *ngIf="isMsg">{{msg}}</p>
              </div>
              <button type="submit"  *ngIf="!isUploadLoader" class="px-7 py-1 border text-black border-blue-900 hover:bg-base hover:text-white rounded-lg shadow-2xl">Upload</button>
            </div>
          </form>
        </div>
        <div *ngIf="openTab === 2"  class="transition-all duration-300 mt-4 bg-white p-4 border-l-4 shadow-2xl border-primary-50">
          <h2 class="text-md font-semibold mb-2 inline text-primary-50">Import Certifications</h2>
          <p class="text-xs text-end"> 
            <button class="bg-pink-700 hover:bg-pink-600 text-white p-1 rounded-md" (click)="downloadCertificationFile()">Download</button> Excel Template 
          </p>
          <form [formGroup]="uploadForm" (ngSubmit)="importCertification()" class="w-full max-w-lg xl:mb-0 px-4 mx-auto py-2 rounded-md">
            <div class="flex flex-wrap -mx-3 mb-1">
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label for="file">Choose file</label>
                <input type="file" id="file" (change)="onFileChange($event)" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded px-4 mb-3 py-2 leading-tight focus:outline-none focus:bg-white text-xs" formControlName="file">
              </div>
            </div>
            <div class="flex justify-end">
              <div class="container">
                <div class="barLoader" *ngIf="isUploadLoader"></div>
                <p class="text-pink-600 text-center mt-5" *ngIf="isMsg">{{msg}}</p>
              </div>
              <button type="submit" *ngIf="!isUploadLoader" class="px-7 py-1 border text-black border-blue-900 hover:bg-base hover:text-white rounded-lg shadow-2xl">Upload</button>
            </div>
          </form>
        </div>


        
      </div>
    </div>
  </div>


  <!-- <section class="grid place-items-centerp-16">
    <label>
      <input class="peer/showLabel absolute scale-0" type="checkbox" />
      <span
        class="block max-h-5 w-20 peer-checked/showLabel:w-fit relative overflow-hidden rounded-0 bg-emerald-100 px-4 py-0 text-cyan-800 shadow-lg transition-all duration-600 peer-checked/showLabel:max-h-52">
        <span class="flex h-5 cursor-pointer items-center font-bold">
          {{ individual.nationality }}
        </span>
        <p class="mb-2 w-max">
          <span *ngFor="let credit of individual.credits">
            {{ credit.customerId.name }} - Ghs{{
            credit.amount.toFixed(2)
            }}
          </span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt culpa ipsa expedita aperiam? Et blanditiis delectus fugit reiciendis tempora porro, accusantium fugiat consequuntur explicabo sed officiis assumenda cum nulla.
        </p>
      </span>
    </label>
  </section> -->