@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sedan+SC&display=swap');

.head h1{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

.body h4{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}